.cart{
    display: flex;
    width: 10%;
    height: 100%;
    padding: 1%;
  }
  .cart_image{
    width: 2.5rem;
    padding: 1px;
    fill: white;
  }
  .cart_item_counter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 30%;
    background-color: crimson;
    padding: 12px;
    font-size: 1.1rem;
    color: white;
    border-radius: 50%;
  }
  